#ignore maven build directories in general
target/
project/ 
lib_managed/
MathJax/
wm_library/project/
wm_math_parser/project/
wm_prototype/js/jquery-1.5.1.js
wm_prototype/js/jquery-ui-1.8.10/
wm_prototype/js/jquery-ui-1.8.11/
wm_prototype/js/yui-3.3.0/
wm_prototype/jslint
wm_prototype/project/
wm_server/project/
wm_setup/project/
wm_web_client/project/
wm_web_mathml/lib/
wm_web_mathml/project/
wm_rest_api/project/

#ignore IntelliJ IDEA project files
*.iml
*.ipr
*.iws
.idea/
*.db
*~

#Ignore copies of files used for testing only
wm_server/sbml.owl

