#ignore maven build directories in general
target/
project/ 
lib_managed/
MathJax/


#ignore IntelliJ IDEA project files
*.iml
*.ipr
*.iws
.idea/
*.db
*~

#Ignore copies of files used for testing only
wm_server/sbml.owl

